* {
  margin: 0px;
}
.app {
  background: var(--dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.car-list {
  display: flex;
  flex-direction: column;
}
.card {
  background: var(--medium);
  margin: 20px;
  display: flex;
  justify-content: center;
}
