/* general styling */

:root {
  --lightest: #f8f9fa;
  --light: #ced4da;
  --medium: #adb5bd;
  --dark: #495057;
  --darkest: #212529;
}

* {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
.app {
  background: var(--darkest);
  padding: 30px;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* styling for the car brand selector & "filter by make:" text beside it */

.select-params {
  display: flex;
}

.select-element-title {
  color: var(--medium);
  margin-right: 15px;
}

select {
  appearance: none;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

select option {
  background-color: var(--light);
  color: #333;
}

/* container for the cards */

.car-list {
  display: flex;
  flex-direction: column;
}

/* card styling */

.card {
  background: var(--medium);
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  border-radius: 5px;
  color: var(--darkest);
}

/* Card Header styling */

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.car-name {
  display: flex;
}
.car-name h2 {
  margin-right: 10px;
}
.toggle-dropdown {
  display: flex;
  cursor: pointer;
}

/* Styling for the elements in the dropdown */
.car-details {
  display: flex;
  padding-top: 15px;

  align-items: center;
  border-top: 2px solid black;
}

.car-img {
  max-height: 200px;
  border-radius: 10px;
  border: 2px solid var(--dark);
}

.car-details-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  width: 100%;
}

.car-detail {
  margin: 10px;
}
